body {
    display: flex;
    justify-content: center;
    height: 40vh;
    margin-top: 4rem;
    padding: 0;
  }
.navbar {
    align-items: center;
    width: 200px;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 0;
  }

.home {
 background-color: #19a357;
}
  
  .navbar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333333;
  }
  
  .navbar li a:hover {
    background-color: #19a357;
    color: aliceblue;
  }
  .navbar li a:click {
    background-color: #19a357;
    color: aliceblue;
  }